<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

		<title>{% block title %}{% endblock %}</title>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="static_media/js/jquery-ui-1.8.18.custom.min.js"></script>
		<script src="static_media/js/formee.js"></script>
		<script src="static_media/js/jquery.infieldlabel.min.js"></script>
		<script src="static_media/js/giveplace.js"></script>
		
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

		<link rel="stylesheet" href="static_media/css/redmond/jquery-ui-1.8.18.custom.css" >
		<link rel="stylesheet" href="static_media/css/formee-structure.css">
		<link rel="stylesheet" href="static_media/css/formee-style.css">
		<link rel="stylesheet" href="static_media/css/styles.css">
	</head>
	<body>
		{% block content %}{% endblock %}
		<div class="content">
			<form class="formee">
				<div class="clear">
				<!-- <div class="formee-equal clear"> -->
					<label for="location">Location...</label>
					<input type="text" name="location" id="location" class="left">
					<input type="submit" name="search" id="search" value="Search" class="left">
				</div>
			</form>
			<div id="result"></div>
		</div>
	</body>
</html>
